
    <!-- Sidebar -->
    <div class="sidebar">
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="/admin/customers">User Management</a></li>
          <li><a href="/admin/addProducts">Product Management</a></li>
          <li><a href="/admin/category">Category Management</a></li>
          <li><a href="/admin//subcategory">Coupon Management</a></li>
          <li><a href="#">Order Management</a></li>
        </ul>
      </div>
      