<body>
    <div class="container">
        <nav class="sidebar">
            <a href="/" class="menu-item">Home</a>
            <a href="/myaccount" class="menu-item">Dashboard</a>
            <a href="/orders" class="menu-item">Orders</a>
            <a href="/updateProfile" class="menu-item ">Update Profile</a>
            <a href="#" class="menu-item">Wallet</a>
            <a href="/getAddress" class="menu-item">My Address</a>
            <a href="#" class="menu-item">Change Password</a>
            <a href="#" class="menu-item">Logout</a>
        </nav>
