<%- include('../../views/partials/userPartials/header') %>

<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Shopping Cart
        </span>
    </div>
</div>

<div class="container">
    <h2>Order Details</h2>
    <br>
        <table class="table-shopping-cart">
            <tbody>
    
             <h1>There is No orders</h1>
             <% for (let i = 0; i < 10; i++) { %>
                <br>
                <% } %>

            </tbody>
        </table>
      
        <h3></h3>
    
        <p></p>
  
</div>

<!-- Footer -->
<script src="/javascript/viewOrder.js"></script>
<%- include('../../views/partials/userPartials/footer') %>
