<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgot.css">
</head>
<body>
    <div class="container">
        <a href="/login" class="back-link">
            ← Back to Sign In
        </a>
        <h1>Forgot password?</h1>
        <p>Enter the email address you used when you joined and we'll send you instructions to reset your password</p>
        <form id="forgotPassword" onsubmit="forgotPassword(event)">
        <div class="input-group">
            <input type="email" name="email" id="email" placeholder="Email" required>
            <div id="error1" class="error-message"></div>
        </div>
        <button type="submit">Reset password</button>
    </form>
    </div>
</body>
<script src="/javascript/forgot-password.js"></script>
</html>