<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create an Account</title>
<link rel="stylesheet" href="css/signup.css">
<style>

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h2>Welcome Back</h2>

      <form id="loginform" onsubmit="userLogin(event)" action="/login" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter email" >
          <div id="error1" class="error-message"></div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter password" required>
          <div id="error2" class="error-message"></div>
          <div class="password-icon">
            <i class="fas fa-eye"></i>
          </div>
        </div>
        <button type="submit" class="btn">Login</button>
      </form>
      <div class="or-continue">or continue with</div>
      <a href="/auth/google" class="google-btn">
        Google
      </a>
    </div>
    <div class="image-container">
      <img src="./images/person-image.png" alt="Person Image">
    </div>
  </div>

  <script src="/javascript/userLogin.js"></script>
  
</body>
</html>